In [1]:
import pandas as pd

In [7]:
#1:ANS
ser=pd.Series([4, 8, 15, 16, 23,42])
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
#2:ANS
l=['aman',23,34,5,6,7,8,'ajay','krishna',25]
ser1=pd.Series(l)
print(ser1)

0       aman
1         23
2         34
3          5
4          6
5          7
6          8
7       ajay
8    krishna
9         25
dtype: object

In [14]:
#3)ANS
d={'Name':['Alice','Bob','Clair'],
   'Age':[25,30,27],
   'Gender':['female','male','female']}
df=pd.DataFrame(d)
print(df)

    Name  Age  Gender
0  Alice   25  female
1    Bob   30    male
2  Clair   27  female

In [16]:
#4)ANS
"""DATAFRAME:a pandas dataframe is a two dimenstional data structure ,like a 2 dimenstional array or a table
with rows and columns."""
#ex:-
d={'Name':['Alice','Bob','Clair'],
   'Age':[25,30,27],
   'Gender':['female','male','female']}
df=pd.DataFrame(d)
"""Series:pandas series is a one dimentional labeled array capable of holding data of any type(int,string,
float,python object,etc.)."""
#ex:
ser=pd.Series([4, 8, 15, 16, 23,42])
print(df)

print(ser)

    Name  Age  Gender
0  Alice   25  female
1    Bob   30    male
2  Clair   27  female
0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [19]:
#5)ANS
#most common functions to manipulate pandas dataframe-
'''1=pandas.read_csv()function,2=pandas.Head()function,3=pandas.tail()function,4=pandas.unique()function,
5=pandas.drop()function,6=pandas.sum()function,7=pandas.mean()function...etc.'''
#example:
mean_fun=df.mean()
sum_fun=df.sum()
print(mean_fun)
print(sum_fun)

Age    27.333333
dtype: float64
Name         AliceBobClair
Age                     82
Gender    femalemalefemale
dtype: object

/tmp/ipykernel_210/2657862648.py:5: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  mean_fun=df.mean()

In [ ]:
#6)Ans:--Dataframe and panel are mutable in pandas

In [22]:
#7)Ans;
#creating multiple series
l1=['aman','ajay','ashok','rahul']
l2=[25,29,55,30]
#creating pandas series
s1=pd.Series(l1)
s2=pd.Series(l2)
#creating dictionay by passing pandas series
fram={'df1':s1,
      'df2':s2}
#creating dataframe by passing dictionay
df_ser=pd.DataFrame(fram)
#printing dataframe
print(df_ser)

     df1  df2
0   aman   25
1   ajay   29
2  ashok   55
3  rahul   30